<?xml version="1.0"?>
<config>
    <sections>
        <payment>
            <groups>
                <billmatebankpay translate="label" module="billmatebankpay">
                    <label>Billmate Bank</label>
                    <sort_order>13</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_store>1</show_in_store>
                    <show_in_website>1</show_in_website>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>20</sort_order>
                        </active>
                        <test_mode translate="label">
                            <label>Test Mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </test_mode>
                        <title translate="label">
                            <label>Title</label>
							<comment>
								<model>billmatebankpay/adminhtml_comment</model>
							</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <countries translate="label comment">
                            <label>Available Countries</label>
                            <comment><![CDATA[Payment gateway will only be available in the selected countries.]]></comment>
                            <frontend_type>multiselect</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_store>1</show_in_store>
                            <show_in_website>1</show_in_website>
                            <sort_order>80</sort_order>
                            <source_model>billmatebankpay/adminhtml_system_config_source_country</source_model>
                        </countries>
                        <!--<eid translate="label">
                            <label>Merchant Id</label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>5</sort_order>
                        </eid>
                        <secret translate="label">
                            <label>Secret</label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>6</sort_order>
                        </secret>-->
                        <order_status translate="label">
                            <label>New Order Status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>billmatebankpay/adminhtml_status</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </order_status>
                        <payment_action translate="label">
                            <label><![CDATA[Payment Action <style>#row_payment_billmatebankpay_payment_action{display:none;}</style>]]></label>
                            <frontend_type>hidden</frontend_type>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </payment_action>
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>50</sort_order>
                        </sort_order>
                        <min_amount translate="label comment" module="cms">
                            <label>Minimum total order amount</label>
                            <comment><![CDATA[The order amount that needs to be reached before payment option becomes available in checkout.<br/>Set to 0 or leave empty to disable.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </min_amount>
                        <max_amount translate="label comment" module="cms">
                            <label>Max total order amount</label>
                            <comment><![CDATA[The order amount can't exceed this amount. If order amount goes above the entered amount the payment option becomes unavailable.<br/>Set to 0 or leave empty to disable.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </max_amount>
                    </fields>
                </billmatebankpay>
            </groups>
        </payment>
    </sections>
</config>
