<?xml version="1.0"?>
<config>
    <modules>
        <Billmate_Cardpay>
            <version>2.1</version>
        </Billmate_Cardpay>
    </modules>
    <global>
        <models>
            <billmatecardpay>
                <class>Billmate_Cardpay_Model</class>
            </billmatecardpay>
        </models>
        <blocks>
            <billmatecardpay>
                <class>Billmate_Cardpay_Block</class>
            </billmatecardpay>
        </blocks>
        <helpers>
            <billmatecardpay>
                <class>Billmate_Cardpay_Helper</class>
            </billmatecardpay>
        </helpers>
        <sales>
            <order>
                <statuses>
                    <communication_error translate="label">
                        <label><![CDATA[Communication Error]]></label>
                    </communication_error>
                </statuses>
                <states>
                    <billmatecardpay>
                        <label>Billmate Cardpay</label>
                        <statuses>
                            <communication_error default="10" />
                        </statuses>
                        <visible_on_front/>
                    </billmatecardpay>
                </states>
            </order>
        </sales>
    </global>
    <default>
        <payment>
            <billmatecardpay>
                <model>billmatecardpay/billmatecardpay</model>
                <countries>SE,DE,NL</countries>
                <title>Billmate Card</title>
				<card_error_page>home</card_error_page>
                <payment_action>authorize</payment_action>
                <prompt_name>0</prompt_name>
                <do_3d_secure>1</do_3d_secure>
                <active>0</active>
                <min_amount>0</min_amount>
                <max_amount>99999</max_amount>
                <order_status>pending</order_status>
            </billmatecardpay>
        </payment>
        <payment_action>authorize</payment_action>
    </default>
    <adminhtml>
        <translate>
            <modules>
                <Billmate_Cardpay>
                    <files>
                        <default>Billmate_Cardpay.csv</default>
                    </files>
                </Billmate_Cardpay>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Billmate_Cardpay>
                    <files>
                        <default>Billmate_Cardpay.csv</default>
                    </files>
                </Billmate_Cardpay>
            </modules>
        </translate>
        <layout>
            <updates>
                <Billmate_Cardpay>
                    <file>billmatecardpay.xml</file>
                </Billmate_Cardpay>
            </updates>
        </layout>
        <routers>
            <billmatecardpay>
                <use>standard</use>
                <args>
                    <module>Billmate_Cardpay</module>
                    <frontName>cardpay</frontName>
                </args>
            </billmatecardpay>
        </routers>
    </frontend>
</config>