.col-main{
    width: 55% !important
}
.col-left, .col-right{
    width: 43% !important
}
.button2 > span{
    width: 100%;
    float: left;
    height: 48px !important;
    background: linear-gradient(180deg, #eee 0%, #ddd 100%);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.13);
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 1px;
    border: 0;
    text-transform: uppercase;
}
.button2 > span > span{
    text-decoration: none !important;
    margin-top: 9px
}
.button2:nth-of-type(4) > span{
    background: linear-gradient(180deg, #0BA9E5 0%, #0099D3 100%);
}
.button2:nth-of-type(4) span span{
    color: #fff !important;
}
.button2{
    color: #fff;
    margin: 5px 0 !important
}
.button2 span span{
    color: #333 !important;
}
.or, .button2{
    width: 100%;
    text-align: center;
    float: left
}



.td, .th{
    text-align: left !important
}
.tr{
    padding: 12px 0;
    border-bottom: 1px solid #ccc
}
.cart-table, .tr{
    width: 100% !important;
    float: left
}
.product-cart-info, .th:nth-of-type(1){
    width: 45%;
    float: left
}
.th:nth-of-type(2){
    display: none
}
.product-cart-remove{
    width: 5%;
    float: left
}
.cart-table .product-cart-actions .qty{
    margin-bottom: 5px !important
}
.cart-links a{
    font-size: 11px !important
}
.cart-table .product-cart-info{
    padding-left: 0 !important
}
.cart .cart-totals table tfoot td{
    font-size: 14px !important;
}
.billmate-shipping{
    border-top: 1px solid #eee;
    padding-top: 15px;
    margin-top: 20px;
    font-size: 22px;
}
.buttons-set{
    margin-top: 20px !important;
    padding-top: 0 !important;
    border-top: 0 !important;
    text-align: left !important;
    margin-top: 10px !important
}
.buttons-set button.button{
    float: left !important;
    /*margin-left: 0 !important;*/
}
.sp-methods dt{
    font-size: 14px !important;
    font-weight: 300 !important
}
#co-shipping-method-form{
    margin-top: 10px
}
.discount-form, .cart-totals{
    background: #f4f4f4 !important;
    float: left;
    width: 100%;
    border-radius: 3px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border: 1px solid #ddd !important
}
.cart-totals{
    margin-top: 15px
}
#co-shipping-method-form .sp-methods dd label{
    border: 1px solid #ddd !important;
    background: #f4f4f4 !important;
    border-radius: 3px;
    padding: 10px;
    box-sizing: border-box;
}
.cart-table .product-cart-actions{
    padding-left: 0 !important
}
.cart .page-title, .billmate-shipping{
    border-bottom: 0 !important;
    border-top: 0 !important
}
#shopping-cart-table > .thead > .tr{
    padding: 0 !important;
}
#shopping-cart-table > .thead > .tr:nth-of-type(1){
    height: 23px !important;
    padding-bottom: 0;
    margin-bottom: -0px !important
}

.discount-form label {
    width: 100%;
}
.input-box {
    padding-top: 2px;
    width: 40%;
    float: left;
}
.buttons-set{
    float: left;
    width: 60%;
    clear: none !important;
    margin-top: 4px !important;
    display: inline-flex;
}
.buttons-set .discount-cancel-button .button{
    float:right;
    margin-left: 2px;
}
.button.cancel-discount{
    margin-top: -1.6em;
}


/* Loader */
.billmateoverlay {
    background: #FFFFFF;
    display: none;
    height: 100vh;
    left: 0;
    opacity: 0.5;
    padding-top: 49vh;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 2;
}

.billmateloading {
    -moz-animation: spin 2s linear infinite;
    -webkit-animation: spin 2s linear infinite;
    -ms-animation: spin 2s linear infinite;
    -o-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    border: 5px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    border-right: 5px solid #0099D3;
    border-top: 5px solid #0099D3;
    display: none;
    height: 100px;
    left: 50%;
    margin: -50px 0 0 -50px;
    position: absolute;
    top: 50%;
    width: 100px;
    z-index: 3;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#checkoutdiv {
    position: relative;
    overflow: auto;
}

#checkout-loader {
    z-index: 9999;
    bottom: 0;
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
    top: 0;
    opacity: 0.8;
    background: rgba(255, 255, 255, 0.5);
    display: none;
}

#checkout-loader.loading {
    display: block;
}

.img-loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    bottom: 0;
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
#checkoutdiv.loading .billmateoverlay,
#checkoutdiv.loading .billmateloading {
    display: block;
}
/* End Loader */

@media only screen and (min-width : 800px) {
    .cart-price, .th:nth-of-type(3), .product-cart-actions, .product-cart-total, .th:nth-of-type(3), .th:nth-of-type(4){
        width: 15%;
        float: left
    }
}
@media only screen and (max-width : 1000px) and (min-width : 850px){
    .tr, .cart-table h2{
        font-size: 11px !important
    }
    .product-cart-sku .label{
        display: none
    }
}
@media only screen and (max-width : 850px) {
    .col-main, .col-left.sidebar, .col-right.sidebar{
        width: 100% !important
    }
    .cart-table .product-cart-price{
        float: left !important
    }
    .cart-price{
        float: right !important
    }
    .cart-table .product-cart-info .btn-remove{
        display: none !important
    }
    .td.product-cart-price, .a-center.product-cart-remove, .td.product-cart-actions, .tr .th.a-center:nth-of-type(3), .tr .th.a-center:nth-of-type(4){
        display: none !important
    }
    .price, .th.a-center.cart-total-head{
        float: right !important;
    }
}
@media only screen and (max-width: 599px){
    .cart-table .product-cart-info, .cart-table td[data-rwd-label], .td.product-cart-info{
        float: left !important;
        width: auto !important
    }
    .cart-table .product-cart-total{
        display: block !important;
        float: right !important;
        font-size: 14px !important
    }
    .td, .th{
        float: left;
        box-sizing: border-box;
        text-align: left !important
    }
    .discount-form, .cart-totals{
        margin-top: 15px
    }
    .input-box, .input-text, .sp-methods label{
        width: 100% !important
    }
    .buttons-set{
        margin-top: 10px !important
    }
}