<?xml version="1.0"?>
<config>
    <modules>
        <Billmate_Common>
            <version>2.1</version>
        </Billmate_Common>
    </modules>
    <global>
        <helpers>
            <billmatecommon>
                <class>Billmate_Common_Helper</class>
            </billmatecommon>
        </helpers>
        <blocks>
            <billmatecommon>
                <class>Billmate_Common_Block</class>
            </billmatecommon>
            <checkout>
                <rewrite>
                    <links>Billmate_Common_Block_Checkout_Links</links>
                    <onepage_link>Billmate_Common_Block_Checkout_Onepage_Link</onepage_link>
                    <cart>Billmate_Common_Block_Checkout_Cart</cart>
                    <cart_sidebar>Billmate_Common_Block_Checkout_Cart_Sidebar</cart_sidebar>
                </rewrite>
            </checkout>
        </blocks>
        <models>
            <billmatecommon>
                <class>Billmate_Common_Model</class>
            </billmatecommon>
        </models>
        <resources>
            <billmatecommon_setup>
                <setup>
                    <module>Billmate_Common</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </billmatecommon_setup>
        </resources>
        <events>
            <!--<admin_system_config_changed_section_billmate>
                <observers>
                    <PartPayment>
                        <type>singleton</type>
                        <class>billmatecommon/observer</class>
                        <method>adminSystemConfigChangedSectionBillmate</method>
                    </PartPayment>
                </observers>
            </admin_system_config_changed_section_billmate> -->

        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <billmatecommon after="Mage_Adminhtml">Billmate_Common</billmatecommon>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Billmate_Common>
                    <files>
                        <default>Billmate_Common.csv</default>
                    </files>
                </Billmate_Common>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Billmate_Common>
                    <files>
                        <default>Billmate_Common.csv</default>
                    </files>
                </Billmate_Common>
            </modules>
        </translate>
        <routers>
            <billmatecommon>
                <use>standard</use>
                <args>
                    <module>Billmate_Common</module>
                    <frontName>billmatecommon</frontName>
                </args>
            </billmatecommon>

        </routers>
        <events>
            <!--<controller_action_predispatch_firecheckout_index_index>
                <observers>
                    <billmate_firecheckout_index>
                        <class>Billmate_Common_Model_Observer</class>
                        <method>redirectToCancelUrl</method>
                    </billmate_firecheckout_index>
                </observers>
            </controller_action_predispatch_firecheckout_index_index>
            <controller_action_predispatch_checkout_onepage_index>
                <observers>
                    <billmate_onepagecheckout_index>
                        <class>Billmate_Common_Model_Observer</class>
                        <method>redirectToCancelUrl</method>
                    </billmate_onepagecheckout_index>
                </observers>
            </controller_action_predispatch_checkout_onepage_index>-->
            <sales_order_place_after>
                <observers>
                    <billmate_common_clearHash>
                        <class>Billmate_Common_Model_Observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </billmate_common_clearHash>
                </observers>
            </sales_order_place_after>
        </events>
        <layout>
            <updates>
                <billmate_common>
                    <file>billmatecheckout.xml</file>
                </billmate_common>
            </updates>
        </layout>
    </frontend>
    <crontab>
        <jobs>
            <check_billmate_status>
                <run>
                    <model>billmatecommon/OrderstatusSync::checkOrders</model>
                </run>
            </check_billmate_status>
        </jobs>
    </crontab>
</config>