<?xml version="1.0"?>
<config>
    <modules>
        <Billmate_Common>
            <version>1.0.3</version>
        </Billmate_Common>
    </modules>
    <global>
        <helpers>
            <billmatecommon>
                <class>Billmate_Common_Helper</class>
            </billmatecommon>
        </helpers>
        <blocks>
            <billmatecommon>
                <class>Billmate_Common_Block</class>
            </billmatecommon>
        </blocks>
        <models>
            <billmatecommon>
                <class>Billmate_Common_Model</class>
            </billmatecommon>
        </models>
        <resources>
            <billmatecommon_setup>
                <setup>
                    <module>Billmate_Common</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </billmatecommon_setup>
        </resources>
        <events>
            <!--<admin_system_config_changed_section_billmate>
                <observers>
                    <PartPayment>
                        <type>singleton</type>
                        <class>billmatecommon/observer</class>
                        <method>adminSystemConfigChangedSectionBillmate</method>
                    </PartPayment>
                </observers>
            </admin_system_config_changed_section_billmate> -->
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <billmatecommon after="Mage_Adminhtml">Billmate_Common</billmatecommon>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <billmatecommon>
                <use>standard</use>
                <args>
                    <module>Billmate_Common</module>
                    <frontName>billmatecommon</frontName>
                </args>
            </billmatecommon>
        </routers>
    </frontend>
</config>