<?xml version="1.0"?>
<config>
    <modules>
        <Billmate_Common>
            <version>1.0.1</version>
        </Billmate_Common>
    </modules>
    <global>
        <models>
            <billmatecommon>
                <class>Billmate_Common_Model</class>
            </billmatecommon>
        </models>
        <resources>
            <billmatecommon_setup>
                <setup>
                    <module>Billmate_Common</module>
                </setup>
            </billmatecommon_setup>
        </resources>
        <events>
            <admin_system_config_changed_section_billmate>
                <observers>
                    <PartPayment>
                        <type>singleton</type>
                        <class>billmatecommon/observer</class>
                        <method>adminSystemConfigChangedSectionBillmate</method>
                    </PartPayment>
                </observers>
            </admin_system_config_changed_section_billmate>
        </events>
    </global>
</config>