<?xml version="1.0"?>
<config>
    <tabs>
        <billmate_tab translate="label">
            <label>Billmate</label>
            <sort_order>60</sort_order>
        </billmate_tab>
    </tabs>
    <sections>
        <billmate translate="label" module="billmatecommon">
            <label>General settings</label>
            <tab>billmate_tab</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <settings translate="label" module="billmatecommon">
                    <label>General settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <customcss translate="label comment tooltip" module="billmatecommon">
                            <label>Use custom stylesheet</label>
                            <tooltip><![CDATA[Activate if you want to use a custom stylesheet, add a file in directory:<br/> /skin/frontend/base/default/css<br/>named<br/>billmatestyle-custom.css]]></tooltip>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </customcss>
                        <getaddress translate="label comment" module="billmatecommon">
                            <label>Get address</label>
                            <comment>Setting to enable 'get adress' functionality from specified person number in checkout.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </getaddress>
                        <activation translate="label comment tooltip" module="billmatecommon">
                            <label>Push order events to Billmate</label>
                            <comment>Push order events, credit, cancel and activate to Billmate.</comment>
                            <tooltip><![CDATA[This option automates your workflow so that orders are automaticlly activated, credited or aborted through Magento. With this option enabled you don't need to visit Billmate Online to manually activate, credit or abort orders.]]></tooltip>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </activation>
                        <logo translate="label comment" module="billmatecommon">
                            <label>Logo to be displayed in the invoice</label>
                            <comment>Enter the name of the logo (shown in Billmate Online). Leave empty if you only have one logo.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </logo>

                    </fields>
                </settings>
                <credentials translate="label" module="billmatecommon">
                    <label>Billmate credentials</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <eid translate="label comment" module="billmatecommon">
                            <label>Billmate ID</label>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_store>1</show_in_store>
                            <show_in_website>1</show_in_website>
                            <frontend_type>text</frontend_type>
                        </eid>
                        <secret translate="label" module="billmatecommon">
                            <label>Billmate secret</label>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_store>1</show_in_store>
                            <show_in_website>1</show_in_website>
                            <frontend_type>text</frontend_type>
                        </secret>
                        <verify translate="label comment" module="billmatecommon">
                            <label>Verify credentials</label>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Note: The config needs to be save after the credentials are verified.]]></comment>
                            <frontend_type>button</frontend_type>
                            <frontend_model>billmatecommon/adminhtml_system_config_form_verify</frontend_model>
                        </verify>
                    </fields>
                </credentials>
                <fraud_check translate="label" module="billmatecommon">
                    <label>Pending settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2000</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                        <order_status_check translate="label">
                            <label>Should Magento fetch updates from Billmate for order with status pending?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>55</sort_order>
                            <show_in_default>1</show_in_default>
                        </order_status_check>
                        <!--<check_cron translate="label comment">
                            <label>How often is needed to check Status</label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <sort_order>60</sort_order>
                            <comment>Use Crontab format (Eg. 0 * * * * for every hour)</comment>
                        </check_cron>-->
                        <time translate="label comment" module="billmatecommon">
                            <label>Interval</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[
                                Example: If you set the above setting to 5 and the setting underneath to “hourly”, Magento will fetch order updates on pending orders every 5 hours.
                            ]]></comment>
                        </time>
                        <frequency translate="label" module="billmatecommon">
                            <label>Frequency</label>
                            <frontend_type>select</frontend_type>
                            <source_model>billmatecommon/system_config_frequency</source_model>
                            <backend_model>billmatecommon/system_config_cron</backend_model>
                            <sort_order>65</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </frequency>
                        <checkstatus translate="label" module="billmatecommon">
                            <label>Which status should we use to filter orders for check Billmate status</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>billmateinvoice/adminhtml_system_config_source_status</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[
                                Add any custom statuses you are using. payment_review and pending_payment are automatically checked against.
                            ]]></comment>
                        </checkstatus>
                        <pendingstatus translate="label" module="billmatecommon">
                            <label>What order status should be set if order is Pending from Billmate API?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>billmateinvoice/adminhtml_system_config_source_status</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                        </pendingstatus>
                        <deniedstatus translate="label" module="billmatecommon">
                            <label>What order status should be set if a Pending order gets denied from Billmate API?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>billmateinvoice/adminhtml_system_config_source_status</source_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                        </deniedstatus>
                        <activatedstatus translate="label" module="billmatecommon">
                            <label>What order status should be set if a pending order gets activated from Billmate API?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>billmateinvoice/adminhtml_system_config_source_status</source_model>
                            <sort_order>85</sort_order>
                            <show_in_default>1</show_in_default>
                        </activatedstatus>
                        <cancelstatus translate="label" module="billmatecommon">
                            <label>What order status should be set if a pending order gets canceled from Billmate API?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>billmateinvoice/adminhtml_system_config_source_status</source_model>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                        </cancelstatus>
                        <createinvoice translate="label" module="billmatecommon">
                            <label>Should invoice be created in Magento if order is marked as activated from Billmate API?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>95</sort_order>
                            <show_in_default>1</show_in_default>
                        </createinvoice>
                    </fields>
                </fraud_check>
            </groups>
        </billmate>
    </sections>
</config>
