<?xml version="1.0"?>
<config>
    <modules>
        <Billmate_Connection>
            <version>0.0.1</version>
        </Billmate_Connection>
    </modules>
    <global>
        <models>
            <bmconnection>
                <class>Billmate_Connection_Model</class>
            </bmconnection>
        </models>
        <blocks>
            <bmconnection>
                <class>Billmate_Connection_Block</class>
            </bmconnection>
        </blocks>
        <helpers>
            <bmconnection>
                <class>Billmate_Connection_Helper</class>
            </bmconnection>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <bmconnection after="Mage_Adminhtml">Billmate_Connection</bmconnection>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Billmate_Connection>
                    <files>
                        <default>Billmate_Connection.csv</default>
                    </files>
                </Billmate_Connection>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Billmate_Connection>
                    <files>
                        <default>Billmate_Connection.csv</default>
                    </files>
                </Billmate_Connection>
            </modules>
        </translate>
        <layout>
            <updates>
                <Billmate_Connection>
                    <file>billmate_connection.xml</file>
                </Billmate_Connection>
            </updates>
        </layout>
        <routers>
            <bmconnection>
                <use>standard</use>
                <args>
                    <module>Billmate_Connection</module>
                    <frontName>bmconnection</frontName>
                </args>
            </bmconnection>
        </routers>
    </frontend>
    <default>
        <payment>
            <bm_connnection>
                <testmode>1</testmode>
            </bm_connnection>
        </payment>
    </default>
</config>