<?xml version="1.0"?>
<config>
    <modules>
        <Billmate_BillmateCheckout>
            <version>0.0.1</version>
        </Billmate_BillmateCheckout>
    </modules>
    <global>
        <models>
            <billmatecheckout>
                <class>Billmate_BillmateCheckout_Model</class>
            </billmatecheckout>
        </models>
        <resources>
            <billmatecheckout_setup>
                <setup>
                    <module>Billmate_BillmateCheckout</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </billmatecheckout_setup>
            <billmatecheckout_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </billmatecheckout_read>
            <billmatecheckout_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </billmatecheckout_write>
        </resources>
        <blocks>
            <billmatecheckout>
                <class>Billmate_BillmateCheckout_Block</class>
            </billmatecheckout>
        </blocks>
        <helpers>
            <billmatecheckout>
                <class>Billmate_BillmateCheckout_Helper</class>
            </billmatecheckout>
        </helpers>
   </global>
   <default>
        <payment>
            <billmatecheckout>
                <model>billmatecheckout/billmatecheckout</model>
                <countries>SE,DE,NL</countries>
                <order_status>pending</order_status>
                <title><![CDATA[Billmate Сheckout]]></title>
                <active>1</active>
                <include_tax>1</include_tax>
                <min_amount>0</min_amount>
                <max_amount>99999</max_amount>
               <payment_action>authorize</payment_action>
            </billmatecheckout>
        </payment>
        <payment_action>authorize</payment_action>
    </default>
    <adminhtml>
        <translate>
            <modules>
                <Billmate_BillmateCheckout>
                    <files>
                        <default>Billmate_BillmateCheckout.csv</default>
                    </files>
                </Billmate_BillmateCheckout>
            </modules>
        </translate>
        <layout>
            <updates>
                <billmatecheckout module="Billmate_BillmateCheckout">
                    <file>billmate_checkout_method.xml</file>
                </billmatecheckout>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <billmatecheckout>
                <use>standard</use>
                <args>
                    <module>Billmate_BillmateCheckout</module>
                    <frontName>billmatecheckoutmethod</frontName>
                </args>
            </billmatecheckout>
        </routers>
        <translate>
            <modules>
                <Billmate_BillmateCheckout>
                    <files>
                        <default>Billmate_BillmateCheckout.csv</default>
                    </files>
                </Billmate_BillmateCheckout>
            </modules>
        </translate>
    </frontend>
</config>
