<?xml version="1.0"?>
<config>
    <modules>
        <Billmate_BillmateCheckout>
            <version>0.0.1</version>
        </Billmate_BillmateCheckout>
    </modules>
    <global>
        <models>
            <billmatecheckout>
                <class>Billmate_BillmateCheckout_Model</class>
            </billmatecheckout>
        </models>
        <resources>
            <billmatecheckout_setup>
                <setup>
                    <module>Billmate_BillmateCheckout</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </billmatecheckout_setup>
            <billmatecheckout_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </billmatecheckout_read>
            <billmatecheckout_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </billmatecheckout_write>
        </resources>
        <blocks>
            <billmatecheckout>
                <class>Billmate_BillmateCheckout_Block</class>
            </billmatecheckout>
        </blocks>
        <helpers>
            <billmatecheckout>
                <class>Billmate_BillmateCheckout_Helper</class>
            </billmatecheckout>
        </helpers>
        <sales>
            <quote>
                <totals>
                    <fee>
                        <class>billmatecheckout/sales_quote_address_total_fee</class>
                        <after>subtotal,discount,shipping</after>
                        <before>tax,grand_total</before>
                    </fee>
					<billmate_tax>
                        <class>billmatecheckout/quote_taxTotal</class>
                        <after>discount,shipping,subtotal,tax</after>
                        <before>grand_total</before>
                    </billmate_tax>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <fee>
                        <class>billmatecheckout/order_invoice_total_fee</class>
                        <after>subtotal,discount,shipping</after>
                        <before>tax,grand_total</before>
                    </fee>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <fee>
                        <class>billmatecheckout/order_creditmemo_total_fee</class>
                        <after>discount,shipping,subtotal</after>
                        <before>tax,grand_total</before>
                    </fee>
                </totals>
            </order_creditmemo>
        </sales>
        <fieldsets>
            <sales_convert_quote_address>
                <fee_amount><to_order>*</to_order></fee_amount>
                <base_fee_amount><to_order>*</to_order></base_fee_amount>
                <fee_tax_amount><to_order>*</to_order></fee_tax_amount>
                <base_fee_tax_amount><to_order>*</to_order></base_fee_tax_amount>
            </sales_convert_quote_address>
        </fieldsets>
        <events>
			<sales_order_save_after>
				<observers>
					<sampleobserver_sales_order_save_after_observer>
						<type>singleton</type>
						<class>billmatecheckout/observer</class>
						<method>activate</method>
					</sampleobserver_sales_order_save_after_observer>
				</observers>
			</sales_order_save_after>
            <sales_order_payment_place_end>
                <observers>
                    <billmatecheckout>
                        <type>singleton</type>
                        <class>billmatecheckout/observer</class>
                        <method>salesOrderPaymentPlaceEnd</method>
                    </billmatecheckout>
                </observers>
            </sales_order_payment_place_end>
            <sales_order_invoice_save_after>
                <observers>
                    <billmatecheckout_fee_save>
                        <type>singleton</type>
                        <class>billmatecheckout/observer</class>
                        <method>invoiceSaveInvoiceFee</method>
                    </billmatecheckout_fee_save>
                </observers>
            </sales_order_invoice_save_after>
            <sales_order_creditmemo_save_after>
                <observers>
                    <billmatecheckout_creditmemo_fee>
                        <type>singleton</type>
                        <class>billmatecheckout/observer</class>
                        <method>creditmemoSaveAfter</method>
                    </billmatecheckout_creditmemo_fee>
                </observers>
            </sales_order_creditmemo_save_after>
        </events>
   </global>
   <default>
        <payment>
            <billmatecheckout>
                <model>billmatecheckout/billmatecheckout</model>
                <countries>SE,DE,NL</countries>
                <order_status>pending</order_status>
                <title><![CDATA[
                Billmate Сheckout - %s invoice fee is added to the order.
                ]]></title>
                <active>1</active>
                <include_tax>1</include_tax>
                <min_amount>0</min_amount>
                <max_amount>99999</max_amount>
               <payment_action>authorize</payment_action>
            </billmatecheckout>
        </payment>
        <sales>
            <totals_sort>
                <fee>10</fee>
            </totals_sort>
        </sales>
        <payment_action>authorize</payment_action>
    </default>
    <adminhtml>
        <translate>
            <modules>
                <Billmate_BillmateCheckout>
                    <files>
                        <default>Billmate_BillmateCheckout.csv</default>
                    </files>
                </Billmate_BillmateCheckout>
            </modules>
        </translate>
        <layout>
            <updates>
                <billmatecheckout module="Billmate_BillmateCheckout">
                    <file>billmatecheckout.xml</file>
                </billmatecheckout>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <billmatecheckout>
                <use>standard</use>
                <args>
                    <module>Billmate_BillmateCheckout</module>
                    <frontName>billmatecheckout</frontName>
                </args>
            </billmatecheckout>
        </routers>
        <layout>
            <updates>
                <billmatecheckout>
                    <file>billmatecheckout.xml</file>
                </billmatecheckout>
            </updates>
        </layout>
        <translate>
            <modules>
                <Billmate_BillmateCheckout>
                    <files>
                        <default>Billmate_BillmateCheckout.csv</default>
                    </files>
                </Billmate_BillmateCheckout>
            </modules>
        </translate>
    </frontend>
</config>
