<?xml version="1.0"?>
<config>
    <modules>
        <Billmate_PartPayment>
            <version>2.0.8</version>
        </Billmate_PartPayment>
    </modules>
    <global>
        <events>
            <sales_order_save_after>
                <observers>
                    <sampleobserver_sales_order_save_after_observer>
                        <type>singleton</type>
                        <class>billmateinvoice/observer</class>
                        <method>activate</method>
                    </sampleobserver_sales_order_save_after_observer>
                </observers>
            </sales_order_save_after>
        </events>
        <models>
            <partpayment>
                <class>Billmate_PartPayment_Model</class>
                <resourceModel>billmate_partpayment_pclasses_mysql4</resourceModel>
            </partpayment>
            <billmate_partpayment_pclasses_mysql4>
                <class>Billmate_PartPayment_Model_Mysql4</class>
                <entities>
                    <billmate_partpayment_pclasses>
                        <table>billmate_payment_pclasses</table>
                    </billmate_partpayment_pclasses>
                </entities>
            </billmate_partpayment_pclasses_mysql4>
        </models>
        <blocks>
            <partpayment>
                <class>Billmate_PartPayment_Block</class>
            </partpayment>
        </blocks>
        <helpers>
            <partpayment>
                <class>Billmate_PartPayment_Helper</class>
            </partpayment>
        </helpers>
        <resources>
            <partpayment_setup>
                <setup>
                    <module>Billmate_PartPayment</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </partpayment_setup>
            <partpayment_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </partpayment_read>
            <partpayment_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </partpayment_write>
        </resources>
        <!--<events>
            <admin_system_config_changed_section_payment>
                <observers>
                    <PartPayment>
                        <type>singleton</type>
                        <class>partpayment/observer</class>
                        <method>adminSystemConfigChangedSectionPartpayment</method>
                    </PartPayment>
                </observers>
            </admin_system_config_changed_section_payment>
        </events> -->
    </global>
    <default>
        <payment>
            <partpayment>
                <model>partpayment/partpayment</model>
                <title>Billmate Part Payment</title>
                <active>0</active>
                <order_status>pending</order_status>
                <countries>SE,NL,DE</countries>
                <min_amount>0</min_amount>
                <max_amount>99999</max_amount>
                <payment_action>authorize</payment_action>
            </partpayment>
        </payment>
        <payment_action>authorize</payment_action>
    </default>
    <adminhtml>
        <translate>
            <modules>
                <Billmate_PartPayment>
                    <files>
                        <default>Billmate_PartPayment.csv</default>
                    </files>
                </Billmate_PartPayment>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules><Billmate_PartPayment after="Mage_Adminhtml">Billmate_PartPayment</Billmate_PartPayment></modules>

                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <translate>
            <modules>
                <Billmate_PartPayment>
                    <files>
                        <default>Billmate_PartPayment.csv</default>
                    </files>
                </Billmate_PartPayment>
            </modules>
        </translate>
        <layout>
            <updates>
                <partpayment>
                    <file>partpayment.xml</file>
                </partpayment>
            </updates>
        </layout>
        <routers>
            <partpayment>
                <use>standard</use>
                <args>
                    <module>Billmate_PartPayment</module>
                    <frontName>partpayment</frontName>
                </args>
            </partpayment>
        </routers>
    </frontend>
</config>
