<?xml version="1.0"?>
<config>
    <modules>
        <Billmate_BillmateInvoice>
            <version>1.3.4</version>
        </Billmate_BillmateInvoice>
    </modules>
    <global>
        <models>
            <billmateinvoice>
                <class>Billmate_BillmateInvoice_Model</class>
            </billmateinvoice>
        </models>
        <resources>
            <billmateinvoice_setup>
                <setup>
                    <module>Billmate_BillmateInvoice</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </billmateinvoice_setup>
            <billmateinvoice_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </billmateinvoice_read>
            <billmateinvoice_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </billmateinvoice_write>
        </resources>
        <blocks>
            <billmateinvoice>
                <class>Billmate_BillmateInvoice_Block</class>
            </billmateinvoice>
            <sales>
                <rewrite>
                    <order_invoice_totals>Billmate_BillmateInvoice_Block_Invoice_Totals_Fee</order_invoice_totals>
                    <order_totals>Billmate_BillmateInvoice_Block_Order_Totals_Fee</order_totals>
                </rewrite>
            </sales>
            <adminhtml>
                <rewrite>
                    <sales_order_totals>Billmate_BillmateInvoice_Block_Adminhtml_Sales_Order_Totals</sales_order_totals>
                    <sales_order_invoice_totals>Billmate_BillmateInvoice_Block_Adminhtml_Sales_Order_Totals</sales_order_invoice_totals>
                    <sales_order_creditmemo_totals>Billmate_BillmateInvoice_Block_Adminhtml_Sales_Creditmemo_Totals</sales_order_creditmemo_totals>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <billmateinvoice>
                <class>Billmate_BillmateInvoice_Helper</class>
            </billmateinvoice>
        </helpers>
        <sales>
            <quote>
                <totals>
                    <fee>
                        <class>billmateinvoice/sales_quote_address_total_fee</class>
                        <after>subtotal,discount,shipping</after>
                        <before>tax,grand_total</before>
						<!--<before>shipping</before>
						<after>tax</after>-->
                    </fee>
					<billmate_tax>
                        <class>billmateinvoice/quote_taxTotal</class>
                        <after>discount,shipping,subtotal,tax</after>
                        <before>grand_total</before>
                    </billmate_tax>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <fee>
                        <class>billmateinvoice/order_invoice_total_fee</class>
                        <after>subtotal,discount,shipping</after>
                        <before>tax,grand_total</before>
                    </fee>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <fee>
                        <class>billmateinvoice/order_creditmemo_total_fee</class>
                        <after>discount,shipping,subtotal</after>
                        <before>tax,grand_total</before>
                    </fee>
                </totals>
            </order_creditmemo>
        </sales>
        <fieldsets>
            <sales_convert_quote_address>
                <fee_amount><to_order>*</to_order></fee_amount>
                <base_fee_amount><to_order>*</to_order></base_fee_amount>
                <fee_tax_amount><to_order>*</to_order></fee_tax_amount>
                <base_fee_tax_amount><to_order>*</to_order></base_fee_tax_amount>
            </sales_convert_quote_address>
        </fieldsets>
        <events>
			<sales_order_save_after>
				<observers>
					<sampleobserver_sales_order_save_after_observer>
						<type>singleton</type>
						<class>billmateinvoice/observer</class>
						<method>activate</method>
					</sampleobserver_sales_order_save_after_observer>
				</observers>
			</sales_order_save_after>
            <sales_order_payment_place_end>
                <observers>
                    <billmateinvoice>
                        <type>singleton</type>
                        <class>billmateinvoice/observer</class>
                        <method>salesOrderPaymentPlaceEnd</method>
                    </billmateinvoice>
                </observers>
            </sales_order_payment_place_end>
            <sales_order_invoice_save_after>
                <observers>
                    <billmateinvoice_fee_save>
                        <type>singleton</type>
                        <class>billmateinvoice/observer</class>
                        <method>invoiceSaveInvoiceFee</method>
                    </billmateinvoice_fee_save>
                </observers>

            </sales_order_invoice_save_after>
            <sales_order_creditmemo_save_after>
                <observers>
                    <billmateinvoice_creditmemo_fee>
                        <type>singleton</type>
                        <class>billmateinvoice/observer</class>
                        <method>creditmemoSaveAfter</method>
                    </billmateinvoice_creditmemo_fee>
                </observers>
            </sales_order_creditmemo_save_after>
        </events>
   </global>
   <default>
        <payment>
            <billmateinvoice>
                <model>billmateinvoice/billmateinvoice</model>
                <countries>SE,DE,NL</countries>
                <order_status>pending</order_status>
                <title><![CDATA[
                Billmate Invoice - %s invoice fee is added to the order
                ]]></title>
                <active>1</active>
                <min_amount>0</min_amount>
                <max_amount>99999</max_amount>
               <payment_action>authorize</payment_action>
            </billmateinvoice>
        </payment>
        <sales>
            <totals_sort>
                <fee>10</fee>
            </totals_sort>
        </sales>
        <payment_action>authorize</payment_action>
    </default>
    <adminhtml>
        <translate>
            <modules>
                <Billmate_BillmateInvoice>
                    <files>
                        <default>Billmate_BillmateInvoice.csv</default>
                    </files>
                </Billmate_BillmateInvoice>
            </modules>
        </translate>
        <layout>
            <updates>
                <billmateinvoice module="Billmate_BillmateInvoice">
                    <file>billmateinvoice.xml</file>
                </billmateinvoice>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <billmateinvoice>
                <use>standard</use>
                <args>
                    <module>Billmate_BillmateInvoice</module>
                    <frontName>billmateinvoice</frontName>
                </args>
            </billmateinvoice>
        </routers>
        <layout>
            <updates>
                <billmateinvoice>
                    <file>billmateinvoice.xml</file>
                </billmateinvoice>
            </updates>
        </layout>
        <translate>
            <modules>
                <Billmate_BillmateInvoice>
                    <files>
                        <default>Billmate_BillmateInvoice.csv</default>
                    </files>
                </Billmate_BillmateInvoice>
            </modules>
        </translate>
    </frontend>
</config>
