<?xml version="1.0"?>
<config>
    <modules>
        <Billmate_CustomPay>
            <version>1.0.6</version>
        </Billmate_CustomPay>
    </modules>
    <global>
        <models>
            <billmatecustompay>
                <class>Billmate_CustomPay_Model</class>
                <resourceModel>billmate_custompay_pclasses_mysql4</resourceModel>
            </billmatecustompay>
            <billmate_custompay_pclasses_mysql4>
                <class>Billmate_CustomPay_Model_Mysql4</class>
                <entities>
                    <billmate_custompay_pclasses>
                        <table>billmate_custompay_pclasses</table>
                    </billmate_custompay_pclasses>
                </entities>
            </billmate_custompay_pclasses_mysql4>
        </models>
        <blocks>
            <billmatecustompay>
                <class>Billmate_CustomPay_Block</class>
            </billmatecustompay>
        </blocks>
        <helpers>
            <billmatecustompay>
                <class>Billmate_CustomPay_Helper</class>
            </billmatecustompay>
        </helpers>
        <sales>
            <order>
                <statuses>
                    <communication_error translate="label">
                        <label><![CDATA[Communication Error]]></label>
                    </communication_error>
                </statuses>
                <states>
                    <bmcustom_card>
                        <label>Billmate Cardpay</label>
                        <statuses>
                            <communication_error default="10" />
                        </statuses>
                        <visible_on_front/>
                    </bmcustom_card>
                </states>
            </order>
        </sales>
        <resources>
            <bmcustompay_setup>
                <setup>
                    <module>Billmate_CustomPay</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bmcustompay_setup>
            <bmcustompay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bmcustompay_read>
            <bmcustompay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bmcustompay_write>
        </resources>
    </global>
    <default>
        <payment>
            <bm_connnection>
                <show_pno_form>1</show_pno_form>
                <customcss>0</customcss>
            </bm_connnection>
            <bmcustom_invoice>
                <model>billmatecustompay/methods_invoice</model>
                <countries>SE,DE,NL</countries>
                <order_status>pending</order_status>
                <title>
                    <![CDATA[Billmate Invoice - %s invoice fee is added to the order.]]>
                </title>
                <active>1</active>
                <include_tax>1</include_tax>
                <min_amount>0</min_amount>
                <max_amount>99999</max_amount>
                <payment_action>authorize</payment_action>
            </bmcustom_invoice>
            <bmcustom_card>
                <model>billmatecustompay/methods_card</model>
                <countries>SE,DE,NL</countries>
                <title><![CDATA[Billmate Card]]></title>
				<card_error_page>home</card_error_page>
                <payment_action>authorize</payment_action>
                <prompt_name>0</prompt_name>
                <do_3d_secure>1</do_3d_secure>
                <active>0</active>
                <min_amount>0</min_amount>
                <max_amount>99999</max_amount>
                <order_status>pending</order_status>
            </bmcustom_card>
            <bmcustom_bankpay>
                <model>billmatecustompay/methods_bankpay</model>
                <countries>SE,DE,NL</countries>
                <title>Billmate Bank</title>
                <bank_error_page>home</bank_error_page>
                <payment_action>authorize</payment_action>
                <active>0</active>
                <payment_action>sale</payment_action>
                <min_amount>0</min_amount>
                <max_amount>99999</max_amount>
                <order_status>pending</order_status>
            </bmcustom_bankpay>
            <bmcustom_partpayment>
                <model>billmatecustompay/methods_partpayment</model>
                <title>Billmate Partpayment</title>
                <active>0</active>
                <order_status>pending</order_status>
                <countries>SE,NL,DE</countries>
                <min_amount>0</min_amount>
                <max_amount>99999</max_amount>
                <payment_action>authorize</payment_action>
            </bmcustom_partpayment>
        </payment>
        <payment_action>authorize</payment_action>
    </default>
    <adminhtml>
        <translate>
            <modules>
                <Billmate_CustomPay>
                    <files>
                        <default>Billmate_CustomPay.csv</default>
                    </files>
                </Billmate_CustomPay>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules><Billmate_CustomPay after="Mage_Adminhtml">Billmate_CustomPay</Billmate_CustomPay></modules>

                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <translate>
            <modules>
                <Billmate_CustomPay>
                    <files>
                        <default>Billmate_CustomPay.csv</default>
                    </files>
                </Billmate_CustomPay>
            </modules>
        </translate>
        <layout>
            <updates>
                <Billmate_CustomPay>
                    <file>billmatecustompay.xml</file>
                </Billmate_CustomPay>
            </updates>
        </layout>
        <routers>
            <billmatecustompay>
                <use>standard</use>
                <args>
                    <module>Billmate_CustomPay</module>
                    <frontName>custompay</frontName>
                </args>
            </billmatecustompay>
            <checkout>
                <args>
                    <modules>
                        <Billmate_CustomPay before="Mage_Checkout">Billmate_CustomPay</Billmate_CustomPay>
                    </modules>
                </args>
            </checkout>
        </routers>
    </frontend>
</config>